{
  "tabWidth": 2,
  "useTabs": true,
  "singleQuote": true,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "printWidth": 120,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "endOfLine": "crlf"
}
